@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-100); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-400); 
  border-radius: 5px;
}
